main div#janela_formulario {
    width:860px;
    margin:50px auto 30px;
    border:1px solid #333;
    overflow: hidden;
}

main div#janela_formulario form {
    width:470px;
    margin:10px auto;
}

main div#janela_formulario form h2  {
    font-family: sans-serif;
    color:#333;
}

main div#janela_formulario form p {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 500;
    background: #333;
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
}

main div#janela_formulario form label {
    display: block;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 3px;
    color: #333;    
}

main div#janela_formulario form input[type="text"] {
    width:350px;
    padding:10px;
    border:1px solid #333;
    border-radius: 5px;
    outline: none;
    margin-bottom: 25px;
}

main div#janela_formulario form select {
    margin-bottom: 25px;
}

main div#janela_formulario form input[type="submit"] {
    display: block;
    padding:10px 20px;
    margin-top:15px;
    color: #FFF;
    border:0;
    border-radius: 5px;
    background-color: #333;
    outline: none;
    cursor: pointer;
}

main div#janela_formulario form input[type="submit"]:hover {
    color: #00c8e0;
    background-color: rgba(0,0,0,0.9);
}

#voltar{
    text-decoration: none;
    background-color: #333;
    color: #FFF;
    font-family: sans-serif;
    padding: 10px 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
}

#voltar:hover{
    color: #00c8e0;
    background-color: rgba(0,0,0,0.9);
}

main div#janela_formulario form #mensagem {
    margin:10px auto;
    display: none;
}