body { margin:0 }

main {
    width:960px;
    min-height: 500px;
    padding:20px 0;
    margin:0 auto;
    border:1px solid #333;
}

div#janela_transportadoras {
    width:650px;
    margin:60px auto 0;
    border:1px solid #333;
    font-family:sans-serif;
    font-size:13px;
    color:#333;
}

div#janela_transportadoras ul {
    margin:0;padding:0; 
    border-bottom:1px solid #333;
}

div#janela_transportadoras ul:last-child {
    border-bottom:none;
}

div#janela_transportadoras li {
    list-style:none;
    display:inline-block;
}

div#janela_transportadoras li:nth-child(1) {
    width:280px; 
    padding:8px 4px;
}

div#janela_transportadoras li:nth-child(1) a {
    text-decoration: none;
    font-weight: bold;
}

div#janela_transportadoras li:nth-child(2) {
    width:140px;  
    padding:5px 2px;
    font-weight: bold;
    color:#333;
}    

div#janela_transportadoras li .botao {
    color:#333;
    text-align:center;
    padding:10px 10px;
    text-decoration: none;
}  

.botao:hover {
    background-color: rgba(0,0,0,0.4);
}